-#  This file is app/views/starttest/index.html.haml
%h2 El no-oficial Test de Scrum

%p Test de conocimientos sobre Scrum en español. Este es un test de preparación para la certificación Professional Scrum Master (PSM I) de scrum.org. Si obtiene más del 80% de las preguntas correctas usted tiene un conocimiento alto de Scrum. Pruebe el test oficial en #{link_to "Professional Scrum Master (PSM I)", "https://www.scrum.org/Assessments/Open-Assessments/Scrum-Open-Assessment"}

%p Puede encontrar más información en español sobre cómo pasar el test en mi blog #{link_to "www.antoniomartel.com", "http://www.antoniomartel.com/2013/04/certificacion-professional-scrum-master.html"}

= button_to 'Comenzar el test', first_index_path(0), :method => :get

%p Buena suerte!
%br
%p © #{link_to "www.antoniomartel.com", "http://www.antoniomartel.com"}
